# machine-specific configuration files
config.php
twitterConnect.php
.htaccess
tools/.htaccess
.htpasswd
media/*.jpg
media/*.png
media/*.gif
media/*.mp4
media/*.pdf
.DS_Store
out/*.dmg
out/
out/*
.gitignore~