* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body, #page {
	margin: 0;
	width: 100%;
	height: 100%;
	
	font-family: sf-text, Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
	white-space:nowrap;	
}

p {
	margin-top: 0px;
}

img {
	width: 100%;
}

a:link,
a:visited {
    /*color: #000;*/
    /*color: #4F7CFC;*/
    color: #0000ff;
    text-decoration: none;
    /* border-bottom: solid 2px #000; */
}

a:hover {
    /* border-bottom: solid 2px #FFF; */
    color: #000;
}

a:active {
	color:#FFF;
}

header {
	position: relative;
	padding: 20px;
	z-index: 10;
}

ul {
	list-style-type: none;
	padding-left: 20px;
	margin: 0px;
}

ul:first-child {
	padding-left: 0px;
}

#clock-canvas {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#canvas-container {
	position: fixed;
	right: 0px;
}

#canvas-container.lower-right {
	bottom: 0px;
}

.column-container-container {
	display: inline;
}

.column-container {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 33vw;
	white-space: initial;
	padding: 20px;
}

#breadcrumbs {
	padding: 20px;
	padding-bottom: 0px;
}

#menu {
	padding-bottom: 20px;
}

/* utility classes */

.v-centre {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	visibility: visible;
}

/* mobile */
@media screen and (max-width: 768px) {
	.column-container-container {
		display: block;
	}
	.column-container {
		width: 50vw;
	}
}
@media screen and (max-width: 500px) {
	.column-container {
		display: block;
		padding-bottom: 0px;
		width: 100%;
	}
	
	.hidden.column-container {
		display: none;
	}
	
	.column-container > p:last-child {
		margin-bottom: 0px;
	}
	
	.column-container:last-child {
		padding-bottom: 20px;
	}
}
