* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
	white-space:nowrap;	
}

p {
	margin-top: 0px;
}
a {
    color: #000;
    text-decoration: none;
    border-bottom: solid 2px #000;	
}

a:hover {
    border-bottom: solid 2px #FFF;
}

a:active {
	color:#FFF;
}

#clock-canvas {
	position: fixed;
	left: 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.column-container {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 33vw;
	white-space: initial;
	padding: 20px;
}

.icon-container img {
	width: 100%;
}

.icon-container {
	position: relative;
	z-index: 0;
	width:100%;
	/* min-height: 100%; */
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 15%;
	padding-right: 15%;
}

#menu {
	padding-bottom: 20px;
}

#about {
}

#ex-container {
	position: fixed;
	right: 0px;
    top: 0px;
    z-index: 10;
    
    width: 40px;
    padding: 10px;
    height: 40px;
}

#ex {
    position: absolute;
}

#wyoscan-svg {
	display: block;
}

/* utility classes */

.v-centre {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.hidden {
	display: none;
	visibility: hidden;
}

.visible {
	visibility: visible;
}

/* mobile */
@media screen and (max-width: 768px) {
	.column-container {
		display: block;
		padding-bottom: 0px;
		width: 100%;
	}
	
	.column-container > p:last-child {
		margin-bottom: 0px;
	}
	
	.column-container:last-child {
		padding-bottom: 20px;
	}
}