* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html, body, #page {
	position: relative;
	min-height: 100%;
    width: 100%;
}

html {
	font-family: "Menlo", monospace;
	font-size: 12px;
	line-height: 16px;
	
	/* safari can't handle fonts */
	-webkit-font-smoothing: subpixel-antialiased;
	
	color: #000;
	background-color: #bbb;
}

body {
	width: 500px;
    max-width: 100%;
    margin: 0px auto;
}

/* links + colours */

a:link, 
a:visited,
a:active {
	text-decoration: none;
	color: #777;
	background-color: #d6d6d6;
}

a:hover {
	color: #fff;
	background-color: #999;
}

#header-container,
#footer-container {
	color: #fff;
	background-color: #000;
}

#header-container a:link,
#header-container a:visited,
#header-container a:active,
#footer-container a:link,
#footer-container a:visited,
#footer-container a:active {
	color: #fff;
	background-color: #666;
}

#header-container a:hover,
#footer-container a:hover {
	background-color: #333;
}

#body-container {
	background-color: #e3e3e3;
}

::selection {
	color: white;
	background: red;
}

.child > span {
	padding-right: 5px;
}

#body > div:nth-child(odd) {
	background-color: #e3e3e3;
}

#body > div:nth-child(even) {
	background-color: #ececec;
}

#header-container,
#body > div,
#footer-container {
	padding: 16px;
}

#children > #object-actions,
.button-container {
	padding-top: 16px;
}
/* forms */
#object > div {
	display: inline-block;
}

.field {
	margin: 5px 0;
}

.field-name {
	color: #eee;
	background-color: #222;
	padding: 7px 15px;
}

.field-value {
	padding: 0px 15px;
}

/* form elements */
textarea,
input[type="text"] {
	padding: 5px;
}

input[type="datetime-local"] {
}

input[type="number"],
input[type="datetime-local"] {
	height: 2em;
	padding: 0 5px;
}

textarea {
	resize: vertical;
}

textarea.large {
	height: 15em;
}

textarea.medium {
	height: 4em;
}

textarea.small {
	height: 2em;
}

img, 
textarea,
input[type="text"] {
	width: 100%;
}

select {
	max-width: 100%;
}

#body {
    width: 100%;
    height: 100%;
}

/* utility classes */
.preview {
	max-width: 100%;
}
.nav-level {
	padding-left: 2ch;
}

@media screen and (max-device-width: 568px) {
	html {
		font-size: 13px;
		line-height: 1.5;
	}
}